:root {
    /* Preconfigured CSS Variables */
    --primary-color: #E81C27;
    --secondary-color: #3A3973;
    --blue-color: #1B1464;
    --white-color: #FFFFFF;
    --gradient: linear-gradient(135deg, #E81C27, #3A3973 50%);
    --logo: url(../img/logo/logo.svg);
    --logo-stroked: url(../img/logo/logo-stroked.svg);
    --banner: url(../img/banner.jpg);
    --page-gradient: linear-gradient(135deg, #F5F0F0, #F5F0F5);
    --page-gradient-reversed: linear-gradient(-135deg, #F5F0F0, #F5F0F5);
    --gap: 1.5rem;

    --super-text-shadow: -1px -3px 0px #FFF, -1px 3px 0px #FFF,1px -3px 0px #FFF,1px 0px 0px #FFF;
    --albuquerque-text-shadow: -1px -3px 0px #FFF, -1px 3px 0px #FFF,1px -3px 0px #FFF,1px 0px 0px #FFF;
    --slogan-text-shadow: -2px -1px 0px #FFF, -2px 1px 0px #FFF,2px -1px 0px #FFF,2px 0px 0px #FFF;
    --slogan-text-shadow-2:
    -1px -1px 0px var(--white-color),
    -1px 1px 0px var(--white-color),
    1px -1px 0px var(--white-color),
    1px 0px 0px var(--white-color);

    /* CSS variables configured through Javascript */
    --menu-height: 0px;
    --page-scroll: 0;
    --background-position: 0 0;
    --background-size: 0 0;
    --header-blend-mode: hard-light;
}